@font-face {
  font-family: Comic Gecko;
  src: url("./assets/fonts/comic_gecko/Comic\ Gecko\ Pro.otf");
}

ul li a {
  position: relative;
}

* {
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}

.ff_comic {
  font-family: Comic Gecko;
}

.opacity {
  opacity: 0.7;
}

.ff_Calibri {
  font-family: Calibri;
}

:root {
  --fs-xsm: 16px;
  --fs-sm: 36px;
  --fs-medium: 24px;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_medium {
  font-size: var(--fs-medium);
}

.bg_nav {
  background: #025928;
}

.btn_sign_in {
  background: transparent;
  border: 2px solid #26A646;
  border-radius: 30px;
  padding: 10px 28px;
  transition: 0.6s ease-in-out;
}

.btn_sign_in:hover {
  background-color: white;
  color: #26A646 !important;
}

.btn_log_in:hover {
  background-color: white;
  color: #26A646 !important;
}

.btn_log_in {
  background-color: #26A646;
  border-radius: 30px;
  padding: 10px 28px;
  transition: 0.3s ease-in-out;
  border: 2px solid #26A646 !important;
}

.text_underline::before {
  content: "";
  height: 0px;
  width: 120%;
  background-color: #0F6133;
  border-bottom: 2px solid #26A646;
  position: absolute;
  transition: 0.6s ease-in-out;
  top: -40px;
  left: -4px;
  z-index: -1;
}

.loader_bg_clr {
  background-color: #0F6133;
}

.z_index_10 {
  z-index: 10 !important;
}

.z_index_minus_1 {
  z-index: -1 !important;
}

.text_underline:hover::before {
  height: 80px;
}

.menu_icon {
  width: 30px;
  height: 3px;
  background-color: #26A646;
  display: block;
}

.bg_hero_img {
  background-image: url("./assets/img/png/bg_img_hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg_box_clr {
  background: linear-gradient(162.43deg, #26A646 0.23%, #025928 22.1%, #025928 76.31%, #26A646 103.78%), #025928;
  box-shadow: 0px 20px 80px rgba(16, 18, 17, 0.01);
  border-radius: 8px;
}

.border_2_bg {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  border-radius: 8px;
}

.header_container {
  max-width: 584px !important;
  margin: 0 auto !important;
  padding: 0 12px !important;
}

.white_circel {
  height: 88px;
  width: 88px;
  border: 3px solid white;
  border-radius: 50%;
  transition: 0.6s ease-in-out;
}

.white_circel:hover {
  background-color: #26A646;
}

.cross_icon {
  right: 0;
  top: 50%;
}

.left_dots {
  left: -100px;
  bottom: -50px;
}

.Ryt_dots {
  right: -100px;
  top: 20px;
}

.text:hover .clr {
  opacity: 1;
}

.ratin_sec_bg_clr {
  background-color: #025928;
  box-shadow: 0px 20px 80px rgba(16, 18, 17, 0.1);
  border-radius: 0px;
}

.pt_26 {
  padding-top: 26px;
}



.btn-secondary {
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.02) !important;
  backdrop-filter: blur(18.5px) !important;
  border-radius: 8px !important;
}

.dropdown-toggle::after {
  margin-left: 35px !important;
  display: inline-block;
  content: url("./assets/img/svg/down_arrow.svg") !important;
  border-top: 0 !important;
  border-right: unset !important;
  border-bottom: 0 !important;
}

.btn_helpful {
  border: 2px solid #26A646 !important;
  border-radius: 30px !important;
  background-color: transparent !important;
  padding: 10px 28px;
  transition: 0.6s ease-in-out;
}

.btn_helpful:hover {
  background-color: white !important;
  color: #26A646 !important;
}

.ratting_box_bg_clr {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
}

.drop_p {
  padding: 19px 26px 19px 20px !important;
}

.input_name {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(18.5px);
  border-radius: 8px;
  outline: none;
}

::placeholder {
  color: #BAD4C6 !important;
}

.input_clr {
  color: #BAD4C6 !important;
}

.review_input {
  padding-top: 16px;
  padding-bottom: 95px;
}

.custom_width {
  max-width: 908px !important;
}

.large_box_bg_clr {
  background-color: #00622B;
}

/* .top_shadow_img {
  top: 0px;
} */

.bottom_shadow_img {
  bottom: 0;
  transform: translateY(30px);
}

.btn_choose {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  transition: 0.4s ease-in-out;
}



.btn_choose:hover .btn_clr {
  color: #26A646 !important;
}

.btn_choose:hover path {
  fill: #00622B !important;
  stroke: #00622B !important;
}

path {
  transition: 0.4s ease-in-out;
}



.large_shadow_img_top {
  top: -70px;
}

.first_dots_group {
  left: 0;
  top: -150px;

}

.second_dots_group {
  right: 0;
  top: 550px;
  max-width: 100px;
}

.third_dots_group {
  left: 0;
  bottom: 80px;
  z-index: -1;
  max-width: 100px;
}

.fourth_dots_group {
  right: 0;
  bottom: -40px;
  max-width: 100px;
}

.rating_box_bg {
  background: rgba(255, 255, 255, 0.05);
  border: 0px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  position: absolute;
  z-index: -1;
  top: 7%;
  height: 410px;
  width: 550px;
  left: 10px;
  border-radius: 0px 8px 8px 0px;
}

@media (max-width:576px) {
  .nav_logo_w {
    max-width: 60px;
  }

  :root {
    --fs-xsm: 16px;
    --fs-sm: 20px;
    --fs-medium: 20px;
  }
}

@media (max-width:767.98px) {
  .navOpen {
    position: fixed;
    top: 0;
    left: 0%;
    background: linear-gradient(162.43deg, #26A646 0.23%, #025928 22.1%, #025928 76.31%, #26A646 103.78%), #025928;
    transition: 0.5s ease-in-out;
    height: 100vh;
    width: 100%;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navClose {
    position: fixed;
    top: 0;
    left: -100%;
    background: linear-gradient(162.43deg, #26A646 0.23%, #025928 22.1%, #025928 76.31%, #26A646 103.78%), #025928;
    transition: 0.5s ease-in-out;
    height: 100vh;
    width: 100%;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text_underline::before {
    position: unset;
  }
}

@media (max-width:991.98px) {
  .top_shadow_img {
    top: 10px !important;
  }

  .main_shadow_img_top {
    top: -25px !important;
  }

  .mt_100 {
    margin-top: 0px !important;
  }
}

@media (max-width:1200px) {
  .top_shadow_img {
    top: -10px !important;
  }

  .main_shadow_img_top {
    top: -50px !important;
  }

  .main_shadow_img_bottom {
    bottom: 0px !important;
  }

  .min_vh_100_xl {
    min-height: unset !important;
  }

  .overflow_w {
    position: unset !important;
  }

}

@media (max-width:1480px) {

  /* .overflow_w {
    position: absolute;
    width: 400px !important;
    height: 410px;
    left: 11px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.5px);
    border-radius: 0px 8px 8px 0px;
  } */
  .rating_box_bg {
    background: rgba(255, 255, 255, 0.05);
    border: 0px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.5px);
    position: absolute;
    z-index: -1;
    top: 6%;
    height: 410px;
    width: 460px;
    left: 10px;
    border-radius: 0px 8px 8px 0px;
  }
}

@media (max-width:1925px) {
  .top_shadow_img {
    top: -30px;
  }

  .main_shadow_img_top {
    top: -60px;
  }

  .main_shadow_img_bottom {
    bottom: 0px;
    transform: translateY(-15px);
  }

  .min_vh_100_xl {
    min-height: 100vh;
  }

  .mt_100 {
    margin-top: 100px;
  }

  .overflow_w {
    position: absolute;
    width: 430px;
    height: 410px;
    left: 11px;
    /* background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.5px);
    border-radius: 0px 8px 8px 0px; */
  }
}